<?xml version="1.0" encoding="UTF-8"?> 
<widget xmlns="http://www.w3.org/ns/widgets" 
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    version="1.0.0.0" id="MovieTracker">   
   
    <name>My Algonquin Life</name> 
    <author>Scott Azulay</author>
    <description>//TODO : Add Description</description>
    <content src="index.html"/> 

    <icon src="images/appIcon.png"/>

    <feature id="blackberry.app"/>
	<feature id="blackberry.app.event"/>
    <feature id="blackberry.io" />
    <feature id="blackberry.pim.contacts"/>
    <feature id="blackberry.invoke" required="true" version="1.0.0.0"/>
    <feature id="blackberry.invoke.card" required="true" version="1.0.0.0"/>
	
    <rim:permissions>
		<rim:permit>access_pimdomain_contacts</rim:permit>
        <rim:permit>access_location_services</rim:permit>
        <rim:permit>access_shared</rim:permit>
	</rim:permissions>

    <access uri="*" subdomains="true" />

</widget>